@page
@model AT.Pages.CreateClienteModel
@{
}
<h1>Cadastro de Cliente</h1>

<form method="post">
	<div class="form-group">
		<label>Nome do cliente:</label>
		<input asp-for="cliente.Nome" class="form-control" /> 
		<span asp-validation-for="cliente.Nome" class="text-danger"></span>
		<br/>

		<label>Cidade:</label>
		<input asp-for="Cidade" class="form-control" />
		<span asp-validation-for="Cidade" class="text-danger"></span>
		<br />
		<button type="submit" class="btn btn-primary mt-2">Cadastrar</button>
	</div>
</form>

@if(Model.cliente != null && Model.Cidade != null)
{
	<div class="alert alert-success mt-3">
		<h3>Cliente salvo:</h3>
		<p>Nome: @Model.cliente.Nome</p>
		<p>Cidade: @Model.Cidade</p>
	</div>
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
