@page "{id:int}"
@model AT.Pages.Destinos.DestinoDetailsModel
@{
}
<h1>Ver Detalhes do Destino</h1>
<br />

@if(Model.Destino == null)
{
    <div class="alert alert-danger">Destino não encontrado.</div>
}
else
{
    <div form-group>
        <h3>@Model.Destino.Nome - ID: @Model.Destino.Id</h3>
        <p><strong>País:</strong> @Model.Destino.Pais</p>
        <br />

        <a asp-page="/Destinos/DestinoIndex" class="btn btn-secondary">Voltar à lista</a>
    </div>    
}